@import url('https://fonts.googleapis.com/css?family=Anton|Archivo+Black|Merriweather|Oswald|Raleway');
body{
    background-color: blue;
}

h1{
    color: black;
}

h2{
    font-family: Anton, sans-serif;
    font-size: 250%;
    color: white;
    text-align: center;
}

h3{
    color: white;
    font-family: "Merriweather", sans-serif;
    font-size: 140%;
}

div.premierleaguetabell{
    text-align: center;

}

div.førsteplass{
    color: gold;
    font-size: 120%;
}

div.nedrykk{
    color: red;
}

ol{
    font-family: Raleway;
    color: white;
}

a{color: white}

p{
    color: white;
    font-family: "Raleway", sans-serif;
}
