body{
    background-color: #28abe3;
    font: sans-serif;
}

div.oppgave{
    width: 1000px;
    padding: 50px;
    background-color: #f7eac8;
    min-height: 300px;
    margin: 80px auto;
    position: relative;
}

h1{
    color: #db3340;
    font-size: 100px;
    text-align: center;
}

h2{
    color: #37422e;
    margin-top: -80px;
    text-align: center;
}

h3{
    background-color: #b89115;
    font-size: 100px;
    position: absolute;
    width: 120px;
    height: 120px;
    left: -60px;
    top: -60px;
    text-align: center;
    border-radius: 60px;
    margin:0;
    color: white;
}

img{
    display: block;
    margin: auto;
}

ul{
    color: #b89115;
}

ol{
    color: #db3340;
}

p.farge{
    color: #b89115;
}

input{
    display: block;
    width: 100px;
    padding: 5px;
    color: #db3340;
}


